@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-list {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.member-item {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0;
  width: 30%;
  text-align: center;
  font-weight: 600;
  padding: 5px;
  border: solid 2px #333;
  border-radius: 5px;
  margin-bottom: 5px;
}

.member-item:hover {
  background: #5c85b4;
  color: #ffffff;
  transition: all 200ms ease;
  cursor: pointer;
}

.member-item-name {
  width: 70%;
  z-index: 0;
}

.member-item-delete {
  border: #333 solid 2px;
  border-radius: 4px;
  padding: 1px;
  z-index: 2;
}

.member-item-delete:hover {
  border: #333 solid 2px;
  padding: 1px;
  background: #f76c6c;
  transition: all 200ms ease;
  cursor: pointer;
}

.member-item-edit {
  border: #333 solid 2px;
  border-radius: 4px;
  padding: 1px;
  z-index: 2;
}

.member-item-edit:hover {
  border: #333 solid 2px;
  padding: 1px;
  background: #abdd97;
  transition: all 200ms ease;
  cursor: pointer;
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}

.modale {
  display: flex;
  width: 25rem;
  margin: auto;
  margin-top: 3rem;
  justify-content: space-around;
  align-items: center;
  &__box {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #5c85b4;
    color: #ffffff;
    border: #333 solid 3px;
    border-radius: 15px;
  }
  &__input {
    margin-top: 15px;
    height: 1.7rem;
    text-align: center;
    font-size: 1.3rem;
  }
}
